*~
.classpath
.project
.settings
.svn
build/
logs/
src/contrib/chukwa/conf/chukwa-agent-conf.xml
src/contrib/chukwa/conf/chukwa-collector-conf.xml
src/contrib/chukwa/conf/collectors
src/contrib/dynamicclouds/webapp/cb/WEB-INF/web.xml
src/docs/build
src/docs/cn/build
src/docs/cn/src/documentation/sitemap.xmap
src/docs/cn/uming.conf
junit*.properties
nohup.out
*.patch

